.modal-image .carousel-root {
  width: 550px !important;
  height: 550px !important;
  padding-top: 70px;
   /* Display above the .carousel-root */
}
.modal-image{
  position: absolute;
  top: 0px;
}

.modal-image .carousel.carousel-slider 
{
  width: 550px !important;
  height: 550px !important;
  
  margin-left: 30%;
  padding-top: 0%;
}

.modal-image .carousel {
  margin-left: 38%;
}

.modal-image .control-arrow{
  display: block;
} 

.toggle {
  position: relative;
  top: 60px; /* Adjust the top distance as needed */
left: 84%; /* Adjust the right distance as needed */
  cursor: pointer;
  z-index: 1; 
  color: #FF7E1B;
}

.overlay {

  width: 726px;
  height:535px;
 
}

@media screen and (max-width: 800px) {
.modal-image{
  display: none;
  height: fit-content;
  width: fit-content;
  
}



}