.App {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  font-family: kumbh sans;
 
}
@font-face {
  font-family: kumbh sans;
  src: url(../src/images/KumbhSans-Regular.ttf);
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Home {
  display: flex;

}
.Home > div {
  width: 100%;
 
  margin-right: 5%;
}



/* .navbar .css-jcn4dz-MuiBadge-badge {
  background: #dcd9d6 !important;
 
} */

.MuiBadge-root.css-1c32n2y-MuiBadge-root .css-jcn4dz-MuiBadge-badge {
  /* background-color: red !important; */
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: #FFAB6A !important ;
  border: none !important;
  background-color: #F6F8FD !important;
  
}
.inc-dec .dec{
  background-color: #F6F8FD !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.inc-dec.MuiButtonGroup-middleButton.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  color: black !important;
  font-size: 16px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

@media screen and (max-width: 900px) {
  .App{
    margin-left: auto;
    margin-right: auto;
  }
  .Home{
    flex-direction: column;
  }

  .Home > div {
    width: fit-content;
    margin-left: 0%;
    margin-right: 0%;
  }
}


